
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap');
 
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');
 
.title {
  color: hsl(227, 35%, 25%);
  font-size:30px;
  margin-bottom:5px;
  padding-bottom: 15px;
 
}
ul {
    list-style-image: url('images/icon-check.svg');
  } 

 
body{
 font-family:'Manrope',sans-serif;
 font-weight: 600;
 text-align: center;
 
 height:auto;
 background-image: url('images/bg-pattern.svg');
 background-repeat: no-repeat;
 background-position-x: center  ; 
 
}
.main {
  
   
   
  position: relative;
  background-image: url('/interactive-pricing-component-main/images/pattern-circles.svg');
  background-repeat: no-repeat;
  background-position-x: center  ;
  color: hsl(225, 20%, 60%);

   
}

.background {
  background-image: url('images/bg-pattern.svg');
  width: 50%;
  display: block;

}
.pricing-component{
  background-color: hsl(0, 0%, 100%);
  border-radius: 15px;
  width:  30%;
  height:auto;

 
  margin:auto;
  box-shadow: 5px 5px 5px grey;
  
}

.parte-superior {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.page-views {
   
  align-self: center;
  font-weight: 800; 
}

 

.price {
  font-size: 60px;
  color: hsl(227, 35%, 25%);
  
}

.month {
  align-self: center;
}

.views-text {
  padding: 10px 10px 10px -5px;
  letter-spacing: 2px;


}
.views-price {
  margin-bottom:90px;
  padding-top: 60px;
  position: relative;
  display:  inline-block;
  
  width: 100%;
  font-size: larger;
 }
 
 .discount-text {
  background-color: hsl(14, 92%, 95%);
  color: hsl(15, 100%, 70%);
  border-radius: 25px;
  margin: 0 0 10px 10px;
  
}

 .switch__container{
  display: flex;
  justify-content: center ;
  margin-bottom: 80px;
  
 
 }


 
.switch-button {
  margin: 0 10px 10px 10px;
 
  
 }
.parte-inferior {
  
  display: flex; 
  justify-content: space-between;
  padding-top: 20px;
  
}

.checks {
  position: relative;
  text-align: left;
  padding-left:15px;
  margin-bottom: 15px;
 
}

.buttonDiv {
   
  align-self:center;
  padding-right:30px;
  margin-bottom: 15px;
}
.button{
  border-radius: 25px;
  background-color:hsl(227, 35%, 25%);
  border:none;
  color: hsl(226, 100%, 87%);
  padding: 20px;
  text-align:center;
  text-decoration: none;
  display: inline-block;
  font-weight: 16px;
  margin:4px 2px;
  cursor: pointer;  
  width: 170px;
}



 


@media (max-width:960px)  {
 .title {
   font-size: 30px;
 }
  .pricing-component{ 
    width: 90%;
    height: 10%;
  }

  
  

  .price {
    order: 0;
    font-size: 40px;
  }

  .page-views {
    order: -2;
  }

 .slidecontainer {
  order:-1;  
  
 }


  .parte-inferior{
    flex-direction:column;

  }


  .checks {
    margin-bottom: 0;
    text-align: left;
    align-self: center;
  }
   

  li {
    padding-bottom: 10px;
  }
  
 

  
}

@media (max-width:376px) {
  .title {
    font-size: 20px;
  }
  body {
    font-size: 12px;
  }
  .parte-inferior {
    padding-top:10px;
  }

  .slider  {
    margin-bottom: 0px;
  
  }
  .buttonDiv {
      margin-bottom: 30px;
  }
}