.slidecontainer {
    width: 100%; /* Width of the outside container */
      padding-top: 30px;
      margin-bottom:30px;
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;
    width: 90%;
    height: 12px;
    background:linear-gradient(90deg,hsl(224, 65%, 95%) 60% , hsl(224, 65%, 95%) 60% );
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 25px;
  }
  
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 0.5;  
  }



/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 40px;
  background: hsl(174, 86%, 45%);
  cursor: pointer;
  border-radius: 100%;
  background-image: url("images/icon-slider.svg");
  background-repeat: no-repeat;
  background-position:center;
  }
  
  .slider::-moz-range-thumb {
    width: 40px; /* Set a specific slider handle width */
    height:40px ; /* Slider handle height */
    background: hsl(174, 86%, 45%);  
    cursor: pointer; /* Cursor on hover */
    border-radius: 100%;
    background-image: url("images/icon-slider.svg");
    background-repeat: no-repeat;
    background-position:center;
    
  }


 
   
  